:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #2196f3;
  --fourth-text-color: #ffffff;
  --five-text-color: #000000;
  --six-text-color: rgba(255, 255, 255, 0.6);
  --background-text-color: #2f303a;
  --background-icon-color: #f5f4fa;
  --icon-color: #afb1b8;
  --border-color: #eeeeee;
  --transition--: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", "Raleway";
  color: var(--main-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: auto;
}

.pre__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  margin: auto;
  border-bottom: 1px solid #ececec;
  color: var(--fourth-text-color);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 93px;
}

.logo__label {
  color: var(--third-text-color);
  font-style: normal;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo__label--black {
  color: var(--five-text-color);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.menu__list .menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.menu__link--current {
  position: relative;
  color: var(--third-text-color);
}

.menu__link--current::after {
  position: absolute;
  margin-top: 28px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--third-text-color);
  border-radius: 2px;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.menu__link:hover,
.menu__link:focus {
  color: var(--third-text-color);
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-nav .auth-nav__item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav .auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav__link {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.auth-nav__link:hover,
.auth-nav__link:focus {
  color: var(--third-text-color);
}

.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/img-hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/img-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(47, 48, 58, 0.4);
}

.hero__title {
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--fourth-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
}

.hero__button {
  display: block;
  padding: 10px 32px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  background-color: var(--third-text-color);
  color: var(--fourth-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.hero-buttons:focus {
  color: var(--fourth-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
  max-width: 528px;
  max-height: 581px;
  background-color: var(--fourth-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__form {
  padding: 40px;
  width: 528px;
  height: 581px;
}

.modal__title {
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal__field {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.modal__label {
  position: absolute;
  left: 0;
  top: -15px;
  color: var(--second-text-color);
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.modal__input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
  cursor: pointer;
}

.modal__input:focus + .modal__icon {
  fill: var(--third-text-color);
}

.modal__input:focus {
  border-color: var(--third-text-color);
}

.modal__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.modal__textarea {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.modal__textarea-item {
  position: absolute;
  left: 0;
  top: -15px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.modal__textarea-coment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
  cursor: pointer;
}

.modal__textarea-coment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea-coment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea-coment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea-coment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea-coment::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea-coment:focus {
  border-color: var(--third-text-color);
}

.modal__submit {
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--fourth-text-color);
  background-color: var(--third-text-color);
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.checkbox {
  position: relative;
  display: block;
  width: 423px;
  height: 24px;
  margin-bottom: 30px;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.checkbox__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.checkbox__icon {
  position: absolute;
  display: block;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
  background-color: var(--fourth-text-color);
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
  border-color: var(--main-text-color);
}

.checkbox__check-icon {
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  opacity: 0;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
  cursor: pointer;
}

.checkbox__input:checked + .checkbox__icon {
  background-color: var(--third-text-color);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--third-text-color);
}

.checkbox__input:checked ~ .checkbox__check-icon {
  opacity: 1;
}

.checkbox__text {
  display: block;
  position: absolute;
  left: 23px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.checkbox__contract {
  color: var(--third-text-color);
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--fourth-text-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.modal__button:hover {
  fill: var(--third-text-color);
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-icon-color);
}

.feature__title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__text {
  width: 270px;
  margin-top: 10px;
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.section--activity {
  padding-bottom: 94px;
}

.activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activity__list .activity__item:not(:last-child) {
  margin-right: 30px;
}

.activity__thumb {
  position: relative;
}

.activity__thumb-product {
  position: absolute;
  color: var(--fourth-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.activity__thumb-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.section--comand {
  background-color: var(--background-icon-color);
}

.comand__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comand__list-item {
  background-color: var(--fourth-text-color);
  margin-right: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.comand__list .comand__list-item:last-child {
  margin-right: 0px;
}

.comand__thumb {
  padding-top: 30px;
  padding-bottom: 30px;
}

.comand__thumb-title {
  text-align: center;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.comand__thumb-text {
  margin-top: 10px;
  text-align: center;
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.comand__icon {
  width: 206px;
  height: 44px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
}

.comand__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comand__icon-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  background-color: var(--fourth-text-color);
}

.comand__icon-item:last-child {
  margin-right: 0px;
}

.comand__icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.comand__icon-link:hover,
.comand__icon-link:focus {
  fill: var(--fourth-text-color);
  background-color: var(--third-text-color);
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client__logo {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}

.client__logo:last-child {
  margin-right: 0px;
}

.client__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.client__icon {
  fill: currentColor;
}

.client__link:hover,
.client__link:focus {
  color: var(--third-text-color);
  border-color: var(--third-text-color);
}

.section--footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-text-color);
  font-style: normal;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__logo {
  margin-right: 70px;
}

.footer__logo-label {
  color: var(--third-text-color);
  font-style: normal;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.footer__logo-label--white {
  color: var(--fourth-text-color);
}

.address {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address__list {
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--six-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.address__link--map {
  color: var(--fourth-text-color);
}

.address__link:hover,
.address__link:focus {
  color: var(--third-text-color);
}

/* ----------------------------------------SOCIAL-------------------------------------------- */
.social__title {
  padding-bottom: 20px;
  color: var(--fourth-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--fourth-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--third-text-color);
}

/* ------------------------------------SUBSCRIBE------------------------------------- */
.subscribe {
  margin-left: auto;
}

.subscribe__title {
  display: block;
  padding-bottom: 20px;
  color: var(--fourth-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe__lebel {
  width: 358px;
  margin-right: 12px;
}

.subscribe__input {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  color: var(--second-text-color);
  background-color: var(--background-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.subscribe__button {
  position: relative;
  width: 200px;
  height: 50px;
  border: none;
  text-align: center;
  padding-right: 62px;
  padding-left: 29px;
  background-color: var(--third-text-color);
  color: var(--fourth-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.subscribe__icon {
  position: absolute;
  left: 148px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.caption {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

/* ----------------------------------FILTER--------------------------------------------------- */
.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  border-color: Transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--third-text-color);
  color: var(--fourth-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* -----------------------------------------EXAMPLE WORK------------------------------- */
.example__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.example__item {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-top: 30px;
}

.example__item:nth-child(3n) {
  margin-right: 0px;
}

.example__item:nth-child(-n+3) {
  margin-top: 0px;
}

.example__link {
  display: block;
  background: var(--fourth-text-color);
  border: 1px solid var(--border-color);
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.example__link:hover,
.example__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example__thumb {
  position: relative;
  overflow: hidden;
}

.example__thumb-item {
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.example__thumb-text {
  position: absolute;
  color: var(--fourth-text-color);
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  -webkit-transition: var(--transition--);
  transition: var(--transition--);
}

.example__border-title {
  margin-bottom: 4px;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example__border-text {
  color: var(--second-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.example__border {
  padding: 20px 24px 20px 24px;
  border-top: 0px;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.example__link:hover .example__thumb .example__thumb-item {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */