.section--activity {
  padding-bottom: 94px;
  @media screen and (max-width: 479px) {
    display: none;
  }
  @media screen and (min-width: 480px) and (max-width: 1024px) {
    display: none;
  }
}
.activity__list {
  display: flex;
  &.activity__item:not(:last-child) {
    margin-right: 30px;
  }
}

.activity__thumb {
  position: relative;
}
.activity__thumb-product {
  position: absolute;
  color: var(--fourth-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.activity__thumb-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}
