.section--comand {
  background-color: var(--background-icon-color);
}
.comand__list {
  display: flex;
  &.comand__list-item:last-child {
    margin-right: 0px;
  }
}
.comand__list-item {
  background-color: var(--fourth-text-color);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: var(--transition--);
}
.comand__thumb {
  padding-top: 30px;
  padding-bottom: 30px;
}
.comand__thumb-title {
  text-align: center;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.comand__thumb-text {
  margin-top: 10px;
  text-align: center;
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.comand__icon {
  width: 206px;
  height: 44px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
}
.comand__icon-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.comand__icon-item {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  background-color: var(--fourth-text-color);
  &:last-child {
    margin-right: 0px;
  }
}
.comand__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  transition: var(--transition--);
  &:hover,
  &:focus {
    fill: var(--fourth-text-color);
    background-color: var(--third-text-color);
  }
}
