img {
  width: 100%;
}
.section--comand {
  background-color: var(--background-icon-color);
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.comand__list {
  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    display: flex;
  }
}
.comand__list-item {
  margin-bottom: 30px;
  background-color: var(--fourth-text-color);
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0px;
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
    margin-right: 30px;
    &:nth-child(n + 1) {
      margin-right: 30px;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: var(--transition--);
}

.comand__thumb {
  padding-top: 30px;
  padding-bottom: 30px;
}
.comand__thumb-title {
  text-align: center;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.comand__thumb-text {
  margin-top: 10px;
  text-align: center;
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.comand__icon {
  width: 206px;
  height: 44px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
}
.comand__icon-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.comand__icon-item {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  background-color: var(--fourth-text-color);
  &:last-child {
    margin-right: 0px;
  }
}
.comand__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  transition: var(--transition--);
  &:hover,
  &:focus {
    fill: var(--fourth-text-color);
    background-color: var(--third-text-color);
  }
}
