:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #2196f3;
  --fourth-text-color: #ffffff;
  --five-text-color: #000000;
  --six-text-color: rgba(255, 255, 255, 0.6);
  --background-text-color: #2f303a;
  --background-icon-color: #f5f4fa;
  --icon-color: #afb1b8;
  --border-color: #eeeeee;
  --transition--: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
